// add content section

section.add-content {
  border-bottom: none;
  padding-bottom: 0;

  .tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 18px;
  }

  .tab {
    display: table-cell;

    &:first-child {
      border-right: 1px solid #b8b8b8;

      span {
        .border-top-left-radius(4px);
        .border-bottom-left-radius(4px);
        border-right: none;
      }
    }

    &:last-child {
      span {
        .border-top-right-radius(4px);
        .border-bottom-right-radius(4px);
        border-left: none;
      }
    }

    &.selected {
      span {
        background-color: #f1f1f1;
        font-weight: 600;
      }
    }

    span {
      border: 1px solid #b8b8b8;
      color: #666;
      display: block;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
    }
  }

  form {
    .clearfix;
    display: none;

    &.selected {
      display: block;
    }
  }

  input[type=text],
  textarea,
  .react-tags {
    margin-bottom: 11px;

    &.last-field {
      margin-bottom: 9px;
    }
  }

  .link-to-ticket {
    float: left;
    font-size: 11px;
    color: #666;
    margin-top: 3px;

    input {
      margin-right: 8px;
    }
  }





  .react-tags {
    position: relative;
    cursor: text;
    padding-bottom: 0;
    width: auto;
  }

  .react-tags__selected {
    display: inline;
  }

  .react-tags__selected-tag {
    .border-radius(2px);
    border: 1px solid #d1d1d1;
    display: inline-block;
    margin: 0 8px 3px 0;
    padding: 0 4px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
    line-height: 16px;
  }

  .react-tags__selected-tag::after {
    content: '\2715';
    color: #AAA;
    margin-left: 4px;
  }

  .react-tags__selected-tag:hover,
  .react-tags__selected-tag:focus {
    border-color: #B1B1B1;

    &::after {
      color: #404040;
    }
  }

  .react-tags__search {
    display: inline-block;
    margin-bottom: 3px;
    max-width: 100%;

    input {
      max-width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;

      &::-ms-clear {
        display: none;
      }
    }
  }

  .react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    ul {
      .border-radius(2px);
      margin: 4px -1px;
      padding: 0;
      list-style: none;
      background: #fff;
      border: 1px solid #d1d1d1;
    }

    li {
      // border-bottom: 1px solid #ddd; // TODO: reenable if we display more than one suggestion at a time
      padding: 3px 8px;

      &:hover {
        cursor: pointer;
        background: #efefef;
      }

      &.is-active {
        background: #eee;
      }

      &.is-disabled {
        opacity: 0.5;
        cursor: auto;
      }

      mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
      }
    }
  }
}
