@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('proxima-nova-light.eot');
  src: url('proxima-nova-light.eot?#iefix') format('embedded-opentype'),
       url('proxima-nova-light.woff') format('woff'),
       url('proxima-nova-light.ttf') format('truetype'),
       url('proxima-nova-light.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('proxima-nova-regular.eot');
  src: url('proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
       url('proxima-nova-regular.woff') format('woff'),
       url('proxima-nova-regular.ttf') format('truetype'),
       url('proxima-nova-regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('proxima-nova-bold.eot');
  src: url('proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
       url('proxima-nova-bold.woff') format('woff'),
       url('proxima-nova-bold.ttf') format('truetype'),
       url('proxima-nova-bold.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');
  font-style: normal;
  font-weight: 700;
}
