// search section

section.search {
  form {
    .clearfix;
    margin-bottom: 12px;
  }

  .input-group {
    width: 232px;
    float: left;
  }

  input[type=text] {
    padding-right: 22px;
  }

  .icon-close {
    .translateY(-50%);
    width: 8px;
    height: 8px;
    stroke: #404040;
    position: absolute;
    right: 8px;
    top: 50%;
    cursor: pointer;
    display: none;

    &.active {
      display: block;
    }
  }

  .message {
    font-size: 12px;
    font-weight: 600;

    &.no-results {
      color: #d76262;
    }
  }

  .content-box {
    background-color: fade(#9b9b9b, 10%);
    margin-top: 5px;
  }

  li {
    &:hover {
      background-color: #eceaec;

      a {
        font-weight: 600;
      }

      .icon-link {
        visibility: visible;
      }
    }

    .icon-link {
      fill: #404040;
      opacity: 0.3;
      visibility: hidden;

      &:hover,
      &:active {
        opacity: 0.5;
      }
    }
  }

  a {
    color: inherit;
  }

  .public {
    color: #7d7c7d;
  }
}
